{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

   <table style="border:1px dotted black;">
    
    <tr>
      
      <td width="30%" style="border: none;">
      <img style='object-fit: fill;' src= "{{ teaser | prepend: "/images/" | prepend: base_path }}" alt="">
      </td>

      <td width="70%" style="border: none;">
        
      <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <center><a href="{{ post.link }}">{{ title }}</a></center> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
      </h2>  
        
      <!---<center><a href="{{ post.link }}">{{ title }}</a> </center><a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>--->
      </td>
      
    </tr>
  </table>
  </article>
</div>

