{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

  {% if post.tagline contains 'Paper, Corresponding author' %}
  <table style="border:1px dotted black;">
  {% elsif post.tagline contains 'Preprint, Corresponding author' %}
  <table style="border:1px dotted black;">
  {% else %}
  <table style="border: none;">
  {% endif %}

    <tr>
      <td width="10%" style="border: none;">
      <img style='object-fit: contain;' src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </td>

      <td width="80%" style="border: none;">
      </td>
      
      <td style="border: none;">
      </td>
    </tr>
  </table>
  </article>
</div>
